@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar__item{
  transition: all 0.3s;
  font-weight: 500;
}

.navbar__register{
  border-left: solid white 1px;
  padding-left: 20px;
}

.navbar__item:hover{
  color: #CA2D2D;
}

.navbar__item-p{
  padding-left: 50px;
}

.navbar__logo{
  width: 100px;
}

#switch{
  display: none;
}

#navbar{
  display: flex;
  align-items: flex-center;
  justify-content: flex-center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

@media screen and (max-width: 769px){
  #switch{
    display: grid;
    align-items: center;
    justify-items: center;
  }
  #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px 0 0 20px;
      margin: 0;
      position: fixed;
      top: 75px;
      right: -260px;
      width: 250px;
      height: 100svh;
      background-color: #CA2D2D;
      box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease-in-out;
      z-index: 5
    }

    #navbar.active{
      right: 0px;
    }

    .navbar__item:hover{
      color: #1A3670;
    }

    .navbar__item-p{
        padding: 10px;
    }

    .navbar__register{
      border: none;
      padding: 10px;
    }

    .account__buttons{
      border-top: solid white 1px;
    }
}